<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>name</key>
      <string>Custom</string>
      <key>presets</key>
      <array>
      </array>
    </dict>
    <dict>
      <key>name</key>
      <string>Social Media Headers</string>
      <key>presets</key>
      <array>
        <dict>
          <key>name</key>
          <string>Facebook Cover (Desktop)</string>
          <key>width</key>
          <integer>828</integer>
          <key>height</key>
          <integer>315</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Facebook Cover (Mobile)</string>
          <key>width</key>
          <integer>640</integer>
          <key>height</key>
          <integer>360</integer>
          <key>allowResizedMatching</key>
          <false/>
          <key>offersLandscapeVariant</key>
          <false/>
        </dict>
        <dict>
          <key>name</key>
          <string>Twitter Header</string>
          <key>width</key>
          <integer>1500</integer>
          <key>height</key>
          <integer>500</integer>
          <key>allowResizedMatching</key>
          <false/>
          <key>offersLandscapeVariant</key>
          <false/>
        </dict>
        <dict>
          <key>name</key>
          <string>LinkedIn Banner</string>
          <key>width</key>
          <integer>851</integer>
          <key>height</key>
          <integer>315</integer>
          <key>allowResizedMatching</key>
          <false/>
          <key>offersLandscapeVariant</key>
          <false/>
        </dict>
        <dict>
          <key>name</key>
          <string>YouTube Channel Header</string>
          <key>width</key>
          <integer>2560</integer>
          <key>height</key>
          <integer>1224</integer>
          <key>allowResizedMatching</key>
          <false/>
          <key>offersLandscapeVariant</key>
          <false/>
        </dict>
      </array>
    </dict>
    <dict>
      <key>name</key>
      <string>Social Medias Posts</string>
      <key>presets</key>
      <array>
        <dict>
          <key>name</key>
          <string>Facebook and Linkedin Post</string>
          <key>width</key>
          <integer>1200</integer>
          <key>height</key>
          <integer>628</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Twitter Post</string>
          <key>width</key>
          <integer>1012</integer>
          <key>height</key>
          <integer>506</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Pinterest Post</string>
          <key>width</key>
          <integer>600</integer>
          <key>height</key>
          <integer>900</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Tumblr Post</string>
          <key>width</key>
          <integer>1280</integer>
          <key>height</key>
          <integer>1920</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Instagram Landscape Post</string>
          <key>width</key>
          <integer>1080</integer>
          <key>height</key>
          <integer>566</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Instagram Portrait Post</string>
          <key>width</key>
          <integer>1080</integer>
          <key>height</key>
          <integer>1350</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>Instagram Square Post</string>
          <key>width</key>
          <integer>1080</integer>
          <key>height</key>
          <integer>1080</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>YouTube Video Thumbnail</string>
          <key>width</key>
          <integer>1280</integer>
          <key>height</key>
          <integer>720</integer>
          <key>allowResizedMatching</key>
          <false/>
          <key>offersLandscapeVariant</key>
          <false/>
        </dict>
        <dict>
          <key>name</key>
          <string>Stories</string>
          <key>width</key>
          <integer>1080</integer>
          <key>height</key>
          <integer>1920</integer>
        </dict>
      </array>
    </dict>
    <dict>
      <key>name</key>
      <string>Banner Ads</string>
      <key>presets</key>
      <array>
        <dict>
          <key>name</key>
          <string>300x250 Ad</string>
          <key>width</key>
          <integer>300</integer>
          <key>height</key>
          <integer>250</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>336x280 Ad</string>
          <key>width</key>
          <integer>336</integer>
          <key>height</key>
          <integer>280</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>728x90 Ad</string>
          <key>width</key>
          <integer>728</integer>
          <key>height</key>
          <integer>90</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>300x600 Ad</string>
          <key>width</key>
          <integer>300</integer>
          <key>height</key>
          <integer>600</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>160x600 Ad</string>
          <key>width</key>
          <integer>160</integer>
          <key>height</key>
          <integer>600</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>970x90 Ad</string>
          <key>width</key>
          <integer>970</integer>
          <key>height</key>
          <integer>90</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>468x60 Ad</string>
          <key>width</key>
          <integer>468</integer>
          <key>height</key>
          <integer>60</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>250x250 Ad</string>
          <key>width</key>
          <integer>250</integer>
          <key>height</key>
          <integer>250</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>200x200 Ad</string>
          <key>width</key>
          <integer>200</integer>
          <key>height</key>
          <integer>200</integer>
        </dict>
      </array>
    </dict>
    <dict>
      <key>name</key>
      <string>Banner Ad Mobile Specific</string>
      <key>presets</key>
      <array>
        <dict>
          <key>name</key>
          <string>320x50 Ad</string>
          <key>width</key>
          <integer>320</integer>
          <key>height</key>
          <integer>50</integer>
        </dict>
        <dict>
          <key>name</key>
          <string>320x100 Ad</string>
          <key>width</key>
          <integer>320</integer>
          <key>height</key>
          <integer>100</integer>
        </dict>
      </array>
    </dict>
  </array>
</plist>
